<main class="container">
    <div class="redirectBottom">
        <a href="/productos/crear" class="btn btn-secondary btn-lg p-2 m-2">Cargar nuevo producto</a>
    </div>
    
    <h1 class="display-1 text-center textColor my-3">Lista de Productos</h1>
    
    {{#if productos}}
        <table class="table table-dark table-hover align-middle">
            <thead>
    		    <tr>
    		    	<td scope="col" class="text-center">Producto</td>
    		    	<td scope="col" class="text-center">Precio</td>
    		    	<td scope="col" class="text-center">Imagen</td>
    		    </tr>
            </thead>
            <tbody class="table-group-divider">
               {{#each productos}}
                    <tr>
                        <th scope="row" class="text-center"> {{nombre}}</th>
                        <td class="text-center"> {{precio}} </td>
                        <td class="text-center"> <img height="75px" src={{imagen}} alt={{nombre}} /> </td>
                    <tr>
                {{/each}}
            </tbody>
        </table>  
    {{else}}
        <div class="row justify-content-center mt-5">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="display-5 text-center">Lista vacia</h2>
                        <p class="lead">No se encontraron Productos</p>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</main>